@page
@model TicketApp.Pages.Tickets.Index

<h1>Tickets</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Statut</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in Model.Tickets)
        {
            <tr>
                <td>@ticket.Id</td>
                <td>@ticket.Title</td>
                <td>@ticket.Status</td>
            </tr>
        }
    </tbody>
</table>